# Please sort into logical groups with comment headers. Sort groups in order of specificity.
# For example, default owners should always be the first group.
# Sort lines alphabetically within these groups to avoid accidentally adding duplicates.
#
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default file owners.
* @bitwarden/team-ios @matt-livefront @phil-livefront @brant-livefront @ezimet-livefront

# Actions and workflow changes.
.github/ @bitwarden/dept-development-mobile

# Auth
# BitwardenShared/Core/Auth @bitwarden/team-auth-dev
# BitwardenShared/UI/Auth @bitwarden/team-auth-dev

# AutoFill
# BitwardenActionExtension @bitwarden/team-autofill-dev
# BitwardenAutoFillExtension @bitwarden/team-autofill-dev
# BitwardenShared/Core/Autofill @bitwarden/team-autofill-dev

# Platform
# Bitwarden @bitwarden/team-platform-dev
# BitwardenShareExtension @bitwarden/team-platform-dev
# BitwardenShared/Core/Platform @bitwarden/team-platform-dev
# BitwardenShared/UI/Platform @bitwarden/team-platform-dev
# GlobalTestHelpers @bitwarden/team-platform-dev
# Networking @bitwarden/team-platform-dev

# Tools
# BitwardenShared/Core/Tools @bitwarden/team-tools-dev
# BitwardenShared/UI/Tools @bitwarden/team-tools-dev

# Vault
# BitwardenShared/Core/Vault @bitwarden/team-vault-dev
# BitwardenShared/UI/Vault @bitwarden/team-vault-dev
