# format options
--indent 4
--ifdef noindent
--swiftversion 5.8.1
--header strip
--funcattributes prev-line
--typeattributes prev-line
--varattributes preserve
--wrapternary before-operators

# file options
--exclude **/Generated,build,vendor/bundle

# rules
--disable elseOnSameLine,semicolons,unusedArguments,opaqueGenericParameters,wrapMultilineStatementBraces,preferForLoop
--enable blankLineAfterImports,isEmpty,blockComments,docComments,sortSwitchCases
