# format options
--indent 4
--ifdef noindent
--swiftversion 6.2
--header strip
--import-grouping testable-last
--funcattributes prev-line
--typeattributes prev-line
--varattributes preserve
--wrapternary before-operators

# file options
--exclude **/Generated,build,vendor/bundle

# rules
--disable elseOnSameLine,semicolons,unusedArguments,opaqueGenericParameters,wrapMultilineStatementBraces,preferForLoop,wrapPropertyBodies,wrapFunctionBodies,blankLinesBetweenImports,noForceUnwrapInTests,redundantProperty,redundantThrows,redundantAsync,redundantViewBuilder,simplifyGenericConstraints,emptyExtensions
--enable blankLineAfterImports,isEmpty,blockComments,docComments,sortSwitchCases
