<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BitwardenAppIdentifier</key>
	<string>$(ORGANIZATION_IDENTIFIER).bitwarden</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Bitwarden</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>es</string>
		<string>zh-Hans</string>
		<string>zh-Hant</string>
		<string>pt-PT</string>
		<string>pt-BR</string>
		<string>sv</string>
		<string>sk</string>
		<string>it</string>
		<string>fi</string>
		<string>fr</string>
		<string>ro</string>
		<string>id</string>
		<string>hr</string>
		<string>hu</string>
		<string>nl</string>
		<string>tr</string>
		<string>uk</string>
		<string>de</string>
		<string>dk</string>
		<string>cz</string>
		<string>nb</string>
		<string>ja</string>
		<string>et</string>
		<string>vi</string>
		<string>pl</string>
		<string>ko</string>
		<string>fa</string>
		<string>ru</string>
		<string>be</string>
		<string>bg</string>
		<string>ca</string>
		<string>cs</string>
		<string>el</string>
		<string>th</string>
	</array>
	<key>CFBundleName</key>
	<string>Bitwarden</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.8bit.bitwarden.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bitwarden</string>
				<string>org-appextension-feature-password-management</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.8bit.bitwarden</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>otpauth</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<true/>
	<key>ITSEncryptionExportComplianceCode</key>
	<string>ecf076d3-4824-4d7b-b716-2a9a47d7d296</string>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NFCReaderUsageDescription</key>
	<string>Use Yubikeys for two-factor authentication.</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to unlock your vault.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library in order to share files.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>arm64</key>
		<true/>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Resources/Assets.xcassets/AppIcons.appiconset</string>
</dict>
</plist>
