<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/abseil-cpp-binary</string>
			<key>Title</key>
			<string>abseil</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/firebase-ios-sdk</string>
			<key>Title</key>
			<string>Firebase</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/GoogleDataTransport</string>
			<key>Title</key>
			<string>GoogleDataTransport</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/grpc-binary</string>
			<key>Title</key>
			<string>gRPC</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/gtm-session-fetcher</string>
			<key>Title</key>
			<string>gtm-session-fetcher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/leveldb</string>
			<key>Title</key>
			<string>leveldb</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/nanopb</string>
			<key>Title</key>
			<string>nanopb</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/promises</string>
			<key>Title</key>
			<string>Promises</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/swift-protobuf</string>
			<key>Title</key>
			<string>SwiftProtobuf</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/swift-snapshot-testing</string>
			<key>Title</key>
			<string>swift-snapshot-testing</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/swift-syntax</string>
			<key>Title</key>
			<string>swift-syntax</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SwiftFormat</string>
			<key>Title</key>
			<string>SwiftFormat</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SwiftGen</string>
			<key>Title</key>
			<string>SwiftGen</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/SwiftLint</string>
			<key>Title</key>
			<string>SwiftLint</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/ViewInspector</string>
			<key>Title</key>
			<string>ViewInspector</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Acknowledgements/xcodegen</string>
			<key>Title</key>
			<string>xcodegen</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
