ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
CODE_SIGN_ENTITLEMENTS = Bitwarden/Application/Support/Entitlements/Bitwarden.entitlements
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = EMPTY
FIREBASE_CONFIG_FILENAME = GoogleService-Info.plist
INFOPLIST_FILE = Bitwarden/Application/Support/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.8bit.bitwarden
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) PREVIEWS
