#include "./Common.xcconfig"
#include? "./Local.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
PRODUCT_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).bitwarden.watchkitapp
WK_COMPANION_APP_BUNDLE_IDENTIFIER = $(ORGANIZATION_IDENTIFIER).bitwarden
PROVISIONING_PROFILE_SPECIFIER = $(PROVISIONING_PROFILE_SPECIFIER_WATCH_APP)
