// Prevents Xcodegen from overriding the CODE_SIGN_IDENTITY value from an included xcconfig.
CODE_SIGN_IDENTITY = Apple Development

#include "./Common.xcconfig"
#include? "./Local.xcconfig"

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CODE_SIGN_ENTITLEMENTS = Bitwarden/Application/Support/Bitwarden.entitlements
FIREBASE_CONFIG_FILENAME = GoogleService-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_ID)
