CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = Apple Distribution
DEVELOPMENT_TEAM = LTZ2PFU5D6
ORGANIZATION_IDENTIFIER = com.8bit
BASE_BUNDLE_ID = $(ORGANIZATION_IDENTIFIER).bitwarden
PROVISIONING_PROFILE_SPECIFIER = Dist: Bitwarden
PROVISIONING_PROFILE_SPECIFIER_ACTION_EXTENSION = Dist: Extension
PROVISIONING_PROFILE_SPECIFIER_AUTOFILL_EXTENSION = Dist: Autofill
PROVISIONING_PROFILE_SPECIFIER_SHARE_EXTENSION = Dist: Share Extension
PROVISIONING_PROFILE_SPECIFIER_WATCH_APP = Dist: Bitwarden Watch App
